@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', 'Noto Serif JP', 'sans-serif';
  color: #333;
  margin: 0 auto;
}

/* ここからヘッダー */
h1 {
  position: absolute;
  z-index: 1;
  width: 100%;
  background: #fff;
}

h1 img {
  width: 240px;
  padding: 16px 12px;
  padding-right: 0;
}

/* ここからドローメニュー */
.g_menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}

.menu_btn {
  display: none;
}

.menu_icon {
  position: absolute;
  right: 12px;
  top: 19px;
  height: 12px;
  padding-top: 5px;
  cursor: pointer;
}

.navicon {
  display: block;
  width: 31px;
  height: 2px;
  background: #b71b26;
  position: relative;
}

.navicon::before,
.navicon::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #b71b26;
  position: absolute;
  transition: all .4s ease-out;
}

.navicon::before {
  top: 10px;
}

.navicon::after {
  top: -10px;
}

.menu {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.6s;
}

.menu li:first-of-type {
  padding-top: 80px;
}

.menu :nth-of-type(5) {
  margin-bottom: 180px;
}

.menu a {
  display: block;
  padding: 24px 0;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Noto Serif JP';
  font-weight: 500;
  color: #333;
}

.menu a:hover {
  background-color: #c0c0c0;
}

.menu_btn:checked~.menu {
  max-height: 532px;
  transition: max-height 0.6s;
}

.menu_btn:checked~.menu_icon .navicon {
  background: transparent;
}

.menu_btn:checked~.menu_icon .navicon::before {
  transform: rotate(-35deg);
  top: 0;
}

.menu_btn:checked~.menu_icon .navicon::after {
  transform: rotate(35deg);
  top: 0;
}

/* ここからメイン */
.main_image {
  width: 100%;
  height: 532px;
  object-fit: cover;
  object-position: center center;
  margin: 0 auto 52px;
  position: relative;
}

.sec_conc,
.sec_ser,
.sec_flow,
.sec_qanda,
.sec_cont {
  width: 100%;
  text-align: center;
  padding: 0 12px;
  margin-top: 0;
  padding-top: 0;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Noto Serif JP';
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #333;
  margin-bottom: 4px;
}

hgroup p {
  font-family: 'Noto Serif JP';
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #223e69;
  display: inline-block;
  position: relative;
  padding: 0 60px;
  margin-bottom: 24px;
}

hgroup p::before,
hgroup p::after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 60px;
  height: 1px;
  background: #223e69;
}

hgroup p::before {
  left: -8px;
}

hgroup p::after {
  right: -8px;
}

main .sec_flow hgroup p {
  color: #b71b26;
}

main .sec_flow hgroup p::before,
main .sec_flow hgroup p::after {
  background: #b71b26;
}

.conc_catch {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 16px;
}

.conc_lead {
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 2;
  text-align: justify;
  margin-bottom: 80px;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Serif JP';
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 8px;
}

main .sec_ser img {
  width: 100%;
  margin-bottom: 8px;
}

.ser_sentence {
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 8px;
}

.more {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: right;
  position: relative;
  padding-right: 10px;
  margin-bottom: 48px;
}

.more a {
  color: #333;
}

.arrow {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-left-color: #333;
  border-right: 0;
  right: -1px;
  top: 3px;
}

.sec_flow {
  background: rgba(34, 62, 105, 0.05);
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 16px 12px;
  margin: 80px 0;
  text-align: center;
}

.sec_flow ul li {
  margin: 0 auto 8px;
}

.sec_flow ul li:nth-of-type(11) {
  margin-bottom: 0;
}

.flow_list {
  width: 300px;
  font-weight: 500;
  letter-spacing: 0.1em;
  background: #333;
  color: #fff;
  border-radius: 16px;
  padding: 8px 0;
  border-bottom: 8px;
}

.triangle1,
.triangle2,
.triangle3,
.triangle4,
.triangle5 {
  width: 32px;
  border: 16px solid transparent;
  border-top-color: rgba(183, 27, 38, 0.6);
  border-bottom: 8px;
}

.triangle2 {
  border-top-color: rgba(183, 27, 38, 0.7);
}

.triangle3 {
  border-top-color: rgba(183, 27, 38, 0.8);
}

.triangle4 {
  border-top-color: rgba(183, 27, 38, 0.9);
}

.triangle5 {
  border-top-color: rgba(183, 27, 38, 1);
}

.sec_qanda {
  margin-bottom: 80px;
}

.qanda_flex {
  display: flex;
  margin-bottom: 16px;
}

.qanda_flex:nth-of-type(2) {
  margin-bottom: 24px;
}

.question,
.answer {
  display: block;
  width: 36px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Noto Serif JP';
  color: #fff;
  padding: 6px 0 10px;
  border-radius: 50%;
  text-align: center;
}

.question {
  background: #333;
}

.answer {
  background: #b71b26;
}

.flex_text {
  letter-spacing: 0.1em;
  line-height: 1.5;
  padding: 6px 0 0 9px;
  text-align: justify;
}

.sec_cont {
  padding-top: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  background: rgba(34, 62, 105, 0.15);
}

.required {
  width: 40px;
  font-size: 10px;
  font-weight: 400;
  background: #b71b26;
  color: #fff;
  padding: 3px 8px 5px;
  border-radius: 8px;
  text-align: center;
  margin-left: 4px;
}

.cont_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.radio_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 24px 4px;
}

input[type="radio"] {
  position: relative;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  vertical-align: -2px;
  appearance: none;
}

input[type="radio"]:checked:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #333;
  content: '';
}

.postcode input[type="text"] {
  width: 125px;
  margin-bottom: 0;
}

.postcode {
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
  text-align: left;
  margin-left: 18px;
}

.postcode::before {
  content: "〒";
  position: absolute;
  transform: translate(-18px, 13px);
}

.radio_label {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-left: 8px;
  font-weight: 400;
  text-align: center;
}

.radio_label:first-of-type {
  margin-right: 40px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 32px;
  background: #fff;
  border: 0;
  padding: 5px;
  margin-bottom: 24px;
}

.sec_cont form .postcode_flex input[type="text"] {
  margin-bottom: 8px;
}

.message {
  margin-bottom: 8px;
}

textarea {
  width: 100%;
  height: 120px;
  border: 0;
  padding: 5px;
}

input[type="submit"] {
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: 'Noto Serif JP';
  background: #333;
  color: #fff;
  margin: 24px auto;
  padding: 16px 0;
  position: relative;
  display: inline-block;
}

.submit::after {
  content: "";
  display: inline-block;
  position: absolute;
  border: 6px solid transparent;
  border-left-color: #fff;
  border-right: 0;
  transform: translate(82px, -59px);
}

/* ここからフッター */
footer {
  background: #fff;
  margin-top: 73px;
}

footer p {
  text-align: center;
  background: #333;
  padding: 16px 0;
}

footer p small {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Noto Serif JP';
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #fff;

}

footer a {
  display: block;
  position: relative;
  width: 46px;
  height: 46px;
  background: #333;
  margin: 0 12px 0 auto;
}

footer a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: translate(14px, 20px) rotate(45deg);
}

/* ここからレスポンシブ */
@media screen and (min-width:768px) {
  html {
    scroll-padding: 72px;
  }

  body {
    position: relative;
  }

  /* ここからヘッダー */
  header {
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    height: 72px;
  }

  .header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
  }

  h1 {
    position: static;
    width: auto;
  }

  h1 img {
    width: 25vw;
    max-width: 400px;
    margin: 24px 0 24px 24px;
    padding: 0;
  }

  .navicon {
    display: none;
  }

  .g_menu {
    position: static;
  }

  .menu {
    display: flex;
    justify-content: right;
    max-height: none;
    background: #fff;
  }

  .menu li {
    letter-spacing: 0.1em;
    margin-right: 35px;
  }

  .menu li:nth-of-type(1) {
    padding-top: 0;
  }

  .menu li:nth-of-type(5) {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .menu a {
    font-size: clamp(12px, 1.2vw, 16px);
    background: #fff;
    padding: 0;
  }

  .menu a:hover {
    background-color: transparent;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 1em;
    text-decoration-color: rgba(255, 102, 51, 0.3);
    text-underline-offset: -0.2em;
    text-decoration-skip-ink: none;
  }

  /* ここからメイン */
  .sec_conc,
  .sec_ser,
  .sec_flow,
  .sec_qanda,
  .sec_cont {
    padding: 0;
  }

  .main_image {
    width: 100%;
    height: 626px;
    object-fit: cover;
    object-position: center 38%;
    margin-bottom: 160px;
  }

  h2 {
    font-size: 42px;
    margin-bottom: 16px;
  }

  hgroup p {
    font-size: 16px;
    margin-bottom: 48px;
  }

  .conc_catch {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .conc_lead {
    font-size: 16px;
    max-width: 1020px;
    margin: 0 auto 160px;
  }

  .sec_ser {
    max-width: 1020px;
    margin: 0 auto 160px;
  }

  .ser_lead {
    display: flex;
    justify-content: space-between;
    margin: 0 0.1%;
  }

  main .sec_ser section {
    flex-basis: 300px;
  }

  main .sec_ser section:nth-of-type(3) {
    margin-right: 0;
  }

  main .sec_ser img {
    margin-bottom: 16px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .ser_sentence {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 16px;
  }

  .more {
    font-size: 16px;
    margin: 0;
  }

  .more:hover {
    text-decoration: underline;
  }

  .sec_flow {
    padding: 48px 0;
    width: 100%;
    margin-bottom: 160px;
  }

  .sec_flow ul {
    display: flex;
    max-width: 950px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .flow_list {
    height: 280px;
    width: auto;
    min-width: auto;
    font-size: 28px;
    writing-mode: vertical-rl;
    border-radius: 32px;
    padding: 0 16px;
  }

  .triangle1,
  .triangle2,
  .triangle3,
  .triangle4,
  .triangle5 {
    width: 30px;
    border: 30px solid transparent;
    border-left-color: rgba(183, 27, 38, 0.6);
    border-right: 0;
  }

  .triangle2 {
    border-left-color: rgba(183, 27, 38, 0.7);
  }

  .triangle3 {
    border-left-color: rgba(183, 27, 38, 0.8);
  }

  .triangle4 {
    border-left-color: rgba(183, 27, 38, 0.9);
  }

  .triangle5 {
    border-left-color: rgba(183, 27, 38, 1);
  }

  .sec_qanda {
    max-width: 988px;
    margin: 0 auto 160px;
  }

  .qanda_flex:nth-of-type(2) {
    margin-bottom: 48px;
  }

  .question,
  .answer {
    width: 52px;
    font-size: 34px;
  }

  .flex_text {
    font-size: 20px;
  }

  .sec_cont {
    font-size: 20px;
    padding: 48px 0;
  }

  form {
    max-width: 1020px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 48px 24px 48px 16px;
    margin: 0 auto;
  }

  .flex_pc {
    display: flex;
    margin-bottom: 24px;
  }

  .flex_pc:nth-of-type(1) {
    margin-bottom: 52px;
  }

  .flex_pc:nth-of-type(9) {
    margin-bottom: 48px;
  }

  .cont_flex {
    flex-basis: 322px;
    justify-content: right;
    align-items: flex-start;
    margin: 0;
  }

  .required {
    width: 58px;
    font-size: 16px;
    margin: 0 16px 0 8px;
  }

  .message {
    width: 322px;
    text-align: right;
    padding-right: 12px;
  }

  .radio_flex {
    margin-top: 0;
    margin-bottom: 0;
  }

  .radio_label {
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
  }

  input[type="radio"] {
    width: 24px;
    height: 24px;
    vertical-align: -5px;
  }

  input[type="radio"]:checked:before {
    width: 16px;
    height: 16px;
  }

  input[type="text"],
  input[type="email"] {
    height: 52px;
    margin-bottom: 0;
  }

  input[type="text"] {
    width: 33%;
  }

  input[type="email"],
  textarea {
    flex-basis: 66%;
  }

  .address {
    flex-basis: 66%;
  }

  textarea {
    height: 208px;
  }

  .postcode input[type="text"] {
    width: 222px;
    margin-left: 24px;
    position: relative;
  }

  .postcode::before {
    content: "\03012";
    font-size: 20px;
    position: absolute;
    transform: translate(-25px, 10px);
  }

  input[type="submit"] {
    width: 300px;
    font-size: 20px;
    margin: 0;
  }

  .submit::after {
    border: 9px solid transparent;
    border-left-color: #fff;
    border-right: 0;
    transform: translate(105px, -39px);
  }

  input[type="submit"]:hover,
  .submit:hover::after {
    color: #ff0;
    cursor: pointer;
  }

  .submit:hover::after {
    border-left-color: #ff0;
  }

  /* ここからフッター */
  footer {
    width: 100%;
    margin-top: 162px;
  }

  footer p {
    padding: 24px 0;
  }

  footer p small {
    font-size: 14px;
  }

  footer a {
    width: 60px;
    height: 60px;
    margin: 0 24px 0 auto;
  }

  footer a::before {
    width: 30px;
    height: 30px;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
  }

  footer a:hover::before {
    transform: translate(14px, 5px) rotate(45deg);
  }
}