@charset "utf-8";

/* SP用header部 ココカラ */
header {
  background: url(../image/top.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 141%;
}

.logo img {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 112px;
}

h1 img {
  width: 335px;
}

/* SP用header部 ココマデ */


/* SP用紹介部 ココカラ */
.introTop {
  background: url(../../top/image/top-intro1.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 408px;
  text-align: center;
}

.flag img {
  width: 35px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.formosa {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.formosaSub {
  font-size: 12px;
  margin-bottom: 12px;
}

.introTop .border {
  border-top: 1px solid #000;
  width: 132px;
  margin: 0 auto;
}

.introImage img {
  width: 335px;
  height: 140px;
  object-fit: cover;
  margin-top: 20px;
}

.introBottom {
  background: url(../../top/image/top-intro2.jpg);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-size: 210%;
  background-repeat: no-repeat;
  background-position: left top;
  height: 400px;
  padding-top: 60px;
  text-align: center;
}

.introBottom .border {
  border-top: 1px solid #000;
  width: 225px;
  margin: 0 auto;
}

.textArea {
  width: 225px;
  font-size: 12px;
  line-height: 1.6;
  text-align: justify;
  margin: 12px auto;
}

/* SP用紹介部 ココマデ */

/* SP用共通見出し部 ココカラ */
h2 {
  margin: 68px auto 32px;
}

/* SP用共通見出し部 ココマデ */

/* SP用ギャラリー部 ココカラ */
.galleryGroup {
  text-align: center;
}

.galleryGroup img {
  width: 300px;
  height: 400px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: top;
}

#slider2,
#slider3 {
  display: none;
}

.spSlide {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.arrow {
  display: none;
  width: 64px;
  height: 64px;
}

.spSlide p {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #7a7a7a;
  cursor: pointer;
}

.spSlide p:nth-of-type(1) {
  background-color: #000;
}

/* SP用ギャラリー部 ココマデ */

/* SP用トラベル部 ココカラ */
.travel .border {
  border-top: 1px solid #000;
  width: 225px;
  margin: 0 auto;
}

.map {
  width: 240px;
  height: 393px;
  text-align: center;
  margin: 20px auto 0;
  position: relative;
}

.mapBack {
  width: 194px;
}

.mapTp,
.mapTc,
.mapTn {
  width: 57px;
  position: absolute;
}

.mapTp {
  top: 23px;
  right: 0;
}

.mapTc {
  top: 91px;
  left: 0;
}

.mapTn {
  bottom: 0;
  right: 105px;
}

/* SP用トラベル部 ココマデ */


/* SP用イベント部 ココカラ */
.eventSub {
  font-size: 20px;
  margin: 32px 0 20px;
  text-align: center;
}

.eventImg {
  text-align: center;
}

.eventImg img {
  width: 335px;
  height: 194px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 20px;
}

.term {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.date {
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.event .border {
  border-top: 1px solid #000;
  width: 225px;
  margin: 0 auto;
}

.countdown .eventSub {
  line-height: 1.6;
}

/* SP用イベント部ココマデ */


/* SP用基本情報部 ココカラ */
.taiwanInfo {
  width: 295px;
  font-size: 12px;
  line-height: 1.6;
  margin: 0 auto 60px;
}

.taiwanInfo h2 {
  background-position: left 0 top 0;
  margin-top: 60px;
  margin-bottom: 40px;
}

.indent {
  padding-left: 0.75rem;
}

.twInfoBottom {
  display: flex;
  flex-wrap: wrap;
  width: 168px;
}

.twInfoBottom li:nth-of-type(2n-1) {
  width: 72px;
}

/* SP用基本情報部 ココマデ */



/* ↓PC　画面が768px以上の時↓ */
@media screen and (min-width:768px) {

  /* PC用header部 ココカラ */
  /* PC用nav部 ココカラ */
  header {
    background-position: center;
    background-size: cover;
    height: 768px;
  }


  h1 {
    text-align: center;
    margin-top: 151px;
  }

  h1 img {
    width: 780px;
    text-align: center;
  }

  header nav ul li:first-of-type {
    pointer-events: none;
  }

  /* PC用nav部 ココマデ */
  /* PC用header部 ココマデ */


  /* PC用紹介部 ココカラ */

  .introTop,
  .introBottom {
    background-position: center left;
    height: 458px;
    padding: 0;
  }

  .introTopWidth,
  .introBottomWidth {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .flag {
    text-align: left;
    margin: 110px 0 0 200px;
  }

  .flag img {
    width: 117px;
    margin: 0;
  }

  .formosa {
    font-size: 48px;
    text-align: left;
    margin: 60px 0 0 20px;
  }

  .formosaSub {
    font-size: 32px;
    margin: 20px 0 0 20px;
  }

  .introTop .border {
    display: none;
  }

  .introImage img {
    width: 636px;
    height: 298px;
    object-fit: cover;
    object-position: center;
    margin: 80px 20px 0 0;
  }

  .introBottom .border {
    max-width: 420px;
    width: 31vw;
    margin-left: 20px;
  }

  .introBottom .border:first-of-type {
    margin-top: 138px;
  }

  .textArea {
    max-width: 420px;
    width: 31vw;
    font-size: clamp(12px, 1.8vw, 20px);
    margin: 20px 0 20px 20px;
  }

  /* PC用紹介部 ココマデ */


  /* PC用共通見出し部 ココカラ */
  h2 {
    margin: 144px 0 60px 20px;
  }

  /* PC用共通見出し部 ココマデ */
  .galleryGroup {
    display: flex;
  }

  /* PC用ギャラリー部 ココカラ */
  .gallery {
    max-width: 1200px;
    padding: 0 40px 0 20px;
    margin: 0 auto;
  }

  .galleryGroup {
    width: 1120px;
    justify-content: space-between;
  }

  .galleryGroup img {
    width: 340px;
    height: 460px;
    object-fit: cover;
    object-position: top;
    margin: 0;
  }

  .galleryGroup img:nth-of-type(2),
  .galleryGroup img:nth-of-type(3) {
    display: inherit;
  }

  .galleryFlex {
    max-width: 628px;
    width: 82vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .arrow {
    display: block;
    margin-top: 60px;
  }

  #slider2,
  #slider3 {
    display: block;
  }

  .spSlide {
    width: 380px;
    justify-content: space-between;
  }

  .spSlide p {
    width: 28px;
    height: 28px;
    margin-top: 78px;
  }

  /* .spSlide p:nth-of-type(2),
  .spSlide p:nth-of-type(3) {
    background-color: #000;
  } */

  /* PC用ギャラリー部 ココマデ */


  /* PC用トラベル部 ココカラ */
  .travel {
    max-width: 1200px;
    margin: 0 auto;
  }

  .travel h2 {
    margin-right: 20px;
  }

  .travel .border {
    max-width: 420px;
    width: 31vw;
  }

  .travel .textArea {
    margin: 60px 0;
  }

  .headingRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
  }

  .mapFlex {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .map {
    width: 420px;
    height: 687px;
    margin: 0 120px;
  }

  .mapBack {
    width: 340px;
  }

  .mapTp,
  .mapTc,
  .mapTn {
    width: 100px;
  }

  .mapTp {
    top: 40px;
    right: 0;
  }

  .mapTc {
    top: 160px;
    left: 0;
  }

  .mapTn {
    bottom: 0;
    right: 180px;
  }

  .mapTp:hover,
  .mapTc:hover,
  .mapTn:hover {
    transform: translateY(-20px);
  }

  /* PC用トラベル部 ココマデ */


  /* PC用イベント部 ココカラ */
  .event {
    max-width: 1200px;
    margin: 0 auto;
  }

  .festival,
  .countdown {
    display: flex;
    justify-content: center;
  }

  .festival {
    margin-bottom: 80px;
  }

  .eventSub {
    font-size: 36px;
    text-align: left;
    margin: 0 0 20px 0;
  }

  .eventImg img {
    width: 580px;
    height: 386px;
  }

  .term {
    text-align: left;
    font-size: 20px;
    margin-top: 85px;
    margin-left: 250px;
    margin-bottom: 40px;
  }

  .cdFlexRight .term {
    margin-top: 165px;
  }

  .cdFlexRight .date {
    margin-left: 215px;
  }

  .date {
    text-align: left;
    font-size: 20px;
    margin-left: 134px;
    margin-bottom: 40px;
  }

  .event .border {
    max-width: 420px;
    width: 41vw;
    margin-left: 80px;
  }

  .event .textArea {
    margin: 40px 0 40px 80px;
  }


  /* PC用イベント部 ココマデ */


  /* PC用基本情報部 ココカラ */
  .taiwanInfo {
    max-width: 1200px;
    width: 88vw;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 80px;
  }

  .taiwanInfo h2 {
    margin: 144px auto 104px;
  }

  .twInfoTop {
    width: 1080px;
    border: 1px solid #000;
    padding: 39px;
    margin: 0 auto;
  }

  .taiwanInfo ul li {
    text-align: justify;
  }

  .twInfoBottom {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
  }

  .twInfoBottom li:nth-of-type(2n-1) {
    width: 140px;
  }

  .indent {
    padding-left: 1.2rem;
  }

  /* PC用基本情報部 ココマデ */
}